body{
    background-color: #d9bda5;
    margin: 0;

}
.container{
  max-width: 900px;
  margin: 1rem 2rem;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  background-color: aliceblue;
  box-shadow:0 0 5px 2px rgb(24, 23, 23) ;
  padding: 0 1.5rem;


}

.form-group{
  display: flex;
  flex-direction: column;
  margin: .5rem;

}

.form-group >label {
  color: #777;
  font-size: 20px;
  margin-bottom: .30rem;
}

.btn{
  background-color: rgb(110, 110, 204);
  padding: 10px;
  border-radius: 10px;
  color: beige;
}


.btn:hover{
  background-color: blue;

}
.card-grid{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgb(107, 102, 102);
    background-color: whitesmoke;
    height: 200px;
    transform:perspective(1000px) rotateY(var(--rotate-y, 0)) 
    translateY(var(--translate-y,0));
    transform-style: preserve-3d;
    transition: 200ms;
    cursor: pointer;
    
}
.card.flip{
  --rotate-y: 180deg;
}

.card .front{
  left:0;
}

.card:hover{
  box-shadow: 0 0 5px 2px rgb(24, 23, 23);
  --translate-y: -2px; 
}

.card .front, 
.card .back{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  
}

.card .back{
  transform: rotateY(180deg);
}


.options{
  margin-top: .5rem;
}

.option{
  margin-top: .20rem;
  color: rgb(75, 63, 63);
  font-size: .90rem;

}

.option:first-child{
  margin-top: 0;

}