body{
    background-color: #332941;
    margin: 0;
    font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 auto;

}

.container {
  display: flex; /* Use flexbox */
  justify-content: center; /* Horizontally center the content */
}

.content {
  max-width: 1000px; /* Set the maximum width */
  display: grid;
  gap: 10px;
  margin-top: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* Add other styles as needed */
}


.header{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #F8E559;
  box-shadow:0 0 5px 2px rgb(24, 23, 23) ;
  padding: 0 1.5rem;

}


input, label, select{
 text-align: center;
 background-color: aquamarine;
 border-radius: 20px;
 border-style:dotted;
 border-color: beige;
 
}

select, input{
 padding: 5px;
}


.form-group{
  display: flex;
  flex-direction: column;
  margin: .5rem;

}

.form-group >label {
  color: #211951;
  font-size: 20px;
  margin-bottom: .30rem;
}

.btn{
  background-color: rgb(110, 110, 204);
  padding: 10px;
  border-radius: 10px;
  color: beige;
  border-style:dotted;
  border-color: beige;
 
}


.btn:hover{
  background-color:  aquamarine;
  color: black;

}


.card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    border-style:outset;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgb(107, 102, 102);
    background-color: #F8E559;
    height: 200px;
    transform:perspective(1000px) rotateY(var(--rotate-y, 0)) 
    translateY(var(--translate-y,0));
    transform-style: preserve-3d;
    transition: 200ms;
    cursor: pointer;
    border-style:dotted;
  border-color: beige;
    
}
.card.flip{
  --rotate-y: 180deg;
}

.card .front{
  left:0;
}

.card:hover{
  box-shadow: 0 0 5px 2px rgb(24, 23, 23);
  --translate-y: -2px; 
}

.card .front, 
.card .back{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
  
}

.card .back{
  transform: rotateY(180deg);
}


.options{
  margin-top: .5rem;
}

.option{
  margin-top: .20rem;
  color: #0E46A3;
  font-size: .90rem;

}

.option:first-child{
  margin-top: 0;

}

@media screen and (max-width: 600px) {
  .content {
    grid-template-columns: minmax(200px, 1fr); /* Adjust column width for smaller screens */
    padding: 5px; /* Optional: Adjust padding or other styles as needed for smaller screens */
  }
}